<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Описание данных</a></span></li></ul></li><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Проверка-на-Линейной-регрессии:" data-toc-modified-id="Проверка-на-Линейной-регрессии:-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Проверка на Линейной регрессии:</a></span></li></ul></li><li><span><a href="#Вывод." data-toc-modified-id="Вывод.-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Вывод.</a></span></li></ul></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

### Описание данных

Набор данных находится в файле '/datasets/insurance.csv'. 
Признаки: пол, возраст и зарплата застрахованного, количество членов его семьи.
Целевой признак: количество страховых выплат клиенту за последние 5 лет.

## Загрузка данных

Импортируем библиотеки, загрузим датасет и посмотрим информацию:

In [1]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('/datasets/insurance.csv')

In [3]:
df.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [5]:
df.duplicated().sum()

153

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(4847, 5)

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

**Обозначения:**


- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

- $a′$ - предсказания с умноженными признаками на обратимую матрицу

- $w′$ - вектор весов линейной регрессии с умноженными признаками на обратимую матрицу

- $E$ - еденичная матрица

- $MSE$ - средняя квадратическая ошибка (mean squared error)

- $MSE′$ - средняя квадратическая ошибка с умноженными признаками на обратимую матрицу

**Предсказания:**

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** При умножении матрицы с признаками на обратимую матрицу, качество обучения Линейной регрессии не изменится.

**Обоснование:** 

Пусть $P$ — квадратная необратимая матрица размерностью равной ширине матрицы $X$, тогда:

$$w' = ((XP)^{T}XP)^{-1}(XP)^{T}y$$

$$w' = (P^{T}(X^{T}X)P)^{-1}P^{T}X^{T}y$$

$$w' = P^{-1}(X^{T}X)^{-1}(P^{T})^{-1}P^{T}X^{T}y$$

$$w' = P^{-1}(X^{T}X)^{-1}EX^{T}y$$

$$w' = P^{-1}w$$

$$a' = (XP)(P)^{-1}w$$

$$a' = XEw$$

$$a' = Xw$$

$$a' = a$$

$$MSE = n^{-1}\displaystyle\sum_{i=1}^{n} (y - a)^{2}$$

$$MSE' = n^{-1}\displaystyle\sum_{i=1}^{n} (y - a')^{2}$$

$$a' = a \rightarrow MSE = MSE'$$

## Алгоритм преобразования

**Алгоритм**

Для реализации алгоритма преобразования нам требуется:
- сгенерировать случайную квадратную обратимую матрицу кодирования (матрица должна быть обратимой, что бы можно было произвести декодирование, а размерность матрицы должна быть равна числу признаков в исходном датасете),
- матрица декодирования является обратной матрицей от матрицы кодирования, следовательно, ее так же требуется сгенерировать.

**Обоснование**

При кодировании квадратной обратимой матрицей с размерностью, равной числу признаков, и обучению на линейной регрессии, мы получаем одинаковые предсказания. Следовательно, и одинаковые средние квадратические ошибки (и вообще все ошибки одинаковые). Для получения же исходных значений из закодированных, требуется обратная к матрице кодированияя матрица.

## Проверка алгоритма

Выделим целевой признак:

In [8]:
features = df.drop('Страховые выплаты', axis=1)
target = df['Страховые выплаты']

Напишем функцию, которая сездает 2 квадратные невырожденные матрицы, заполненные случайными значениями, где матрицы являются обратными друг другу.

In [9]:
def matr(n):  
    det = 0
    while det == 0:
        matrix = np.random.normal(size = (n, n))
        det = np.linalg.det(matrix) 
    matrix_inv = np.linalg.inv(matrix)
    return matrix, matrix_inv

In [10]:
cipher, key = matr(features.shape[1])

In [11]:
features_cipher = features.dot(cipher)

In [12]:
features_cipher.head()

             0              1             2             3
0  6492.634682  113813.771355  28238.311621 -51126.207624
1  4968.191476   87196.792874  21637.121825 -39150.968719
2  2744.270494   48187.615341  11959.055353 -21630.756819
3  5464.131493   95684.383402  23734.383199 -42999.592020
4  3413.774707   59890.897136  14862.331655 -26895.447706

В силу особенностей работы python, предусмотрительно округлим и возьмем модули полученных значений.

In [13]:
features_key = abs(np.around(features_cipher.dot(key)))

In [14]:
features_key.head()

     0     1        2    3
0  1.0  41.0  49600.0  1.0
1  0.0  46.0  38000.0  1.0
2  0.0  29.0  21000.0  0.0
3  0.0  21.0  41700.0  2.0
4  1.0  28.0  26100.0  0.0

In [15]:
features.head()

   Пол  Возраст  Зарплата  Члены семьи
0    1     41.0   49600.0            1
1    0     46.0   38000.0            1
2    0     29.0   21000.0            0
3    0     21.0   41700.0            2
4    1     28.0   26100.0            0

Получили исходные значения признаков, значит, кодирование и декодирование работает верно.

#### Проверка на Линейной регрессии:

In [16]:
model = LinearRegression()
model.fit(features, target)
pred = model.predict(features)
r2_score(target, pred)

0.4302010044852066

In [17]:
model = LinearRegression()
model.fit(features_cipher, target)
pred_cipher = model.predict(features_cipher)
r2_score(target, pred_cipher)

0.43020100448520804

Качество обучения модели по исходным и закодированным признакам совпадает, следовательно, метод кодировки-рабочий и не мещает обучению модели.

### Вывод.

В ходе проделанной работы нами был разработан метод защиты данных клиентов страховой компании «Хоть потоп». 

Данные преобразованы таким образом, что по ним сложно восстановить исходную информацию - для этого дребуется специальный ключ-дешифратор - квадратная матрица, подходящая под условия шифрования, подобрать ее крайне сложно, тк генерация ключа и дешифратора будет происходить заново с каждым запуском функции.

Так же в работе было выявлено, что шифрование данных не ухудшает качество обучения машинного обучения, что было проверено на Линейной регресси.